

#items-list {
  font: 25px arial, sans-serif;
}

.item-name {
  text-align: left;
}

.quantity-label {
  border-bottom: 1px solid gray;
}

.data-container {
  padding-top: 15px;
}

.remove-button {
  font-size: 10px;
}

#create-item-button {
  font-size: 15px;
}

.new-item-name-input, .new-item-price-input {
  /*font-size: 25px;*/
}